/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';
@import "~@angular/cdk/overlay-prebuilt.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
