@import '~@angular/material/_theming.scss';

// https://github.com/angular/material2/blob/master/src/lib/core/theming/prebuilt/purple-green.scss

@include mat-core();

// Define a theme.
$primary: mat-palette($mat-purple, 700, 500, 800);
$accent:  mat-palette($mat-green, A200, A100, A400);
$theme: mat-dark-theme($primary, $accent);

.currentTheme {
  //background-color: mat-color($primary);
  $background: map-get($theme, background);
  background-color: mat-color($background, background);
}