
<div class="mat-elevation-z8" style="overflow: auto; width: calc(100%); height: calc(100% - 64px);" #canvasElement></div>

<div *cdkPortal>
  <div class="currentTheme">
        <button mat-icon-button #matMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="rootMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #rootMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="subMenu">Power</button>
          <button mat-menu-item (click)="settings()">System settings</button>
        </mat-menu>
        
        <mat-menu #subMenu="matMenu">
          <button mat-menu-item>Shut down</button>
          <button mat-menu-item>Restart</button>
          <button mat-menu-item>Hibernate</button>
        </mat-menu>
    </div>
  </div>
